{% extends 'home\index.html' %}

{% block body %}

<div class="container" style="margin:50px">

<form action="{% url 'post:create_post' %}" method="POST" >
    {% csrf_token %}
    <div>
        <label for="title"> Post Title: </label>
        <input type="text" id="title" name="title" required>
    </div>
    <div>
        <label for="content"> Post Content: </label>
        <input type="text" id="content" name="content" required>
        </div>
    <button type="submit" >Submit</button>
</form>

</div>

{% endblock body %}  

!